/* Layout listing form. */
#layout-list .layout-group td {
  background: #E1E2DC;
}
#layout-list .layout-group td:first-child {
  font-weight: bold;
}
#layout-list .layout-row td:first-child {
  padding-left: 24px;
}
#layout-list tr.disabled td {
  color: #999;
}

/* Individual layout settings form. */
#layout-settings-form .layout-options {
  width: 100%;
}
#layout-settings-form .layout-options .form-type-radio {
  float: left;
  text-align: center;
}
#layout-settings-form .layout-icon .caption {
  width: 90px;
  margin-bottom: 1em;
}

/* Menu item argument settings. */
#layout-arguments strong,
#layout-context-table strong {
  text-decoration: underline;
}

#layout-context-table {
  width: auto;
}

/* Buttons that are displayed as links. */
.layout-access-remove,
.layout-access-configure {
  padding-left: 10px; /* LTR */
}
[dir="rtl"] .layout-access-remove,
[dir="rtl"].layout-access-configure {
  padding-left: 0;
  padding-right: 10px;
}

