/* Layout listing form. */
#layout-list .layout-group td {
  background: #E1E2DC;
}
#layout-list .layout-group td:first-child {
  font-weight: bold;
}
#layout-list .layout-row td:first-child {
  padding-left: 24px;
}

/* Individual layout settings form. */
#layout-settings-form .layout-options {
  width: 100%;
}
#layout-settings-form .layout-options .form-type-radio {
  float: left;
  text-align: center;
}
#layout-settings-form .layout-icon .caption {
  width: 90px;
  margin-bottom: 1em;
}