
#layout-settings-form .layout-options {
  width: 100%;
}
#layout-settings-form .layout-options .form-type-radio {
  float: left;
  text-align: center;
}
#layout-settings-form .layout-icon .caption {
  width: 90px;
  margin-bottom: 1em;
}