/**
 * CSS for the default two column layout provided by Layout module.
 */
.layout-twocol .layout-col {
  float: left; 
  width: 50%; 
}

.layout-twocol .layout-col-first .inside {
  margin: 0 .5em 1em 0;
}

.layout-twocol .layout-col-last .inside {
  margin: 0 0 1em .5em;
}
